* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 60px;
    display: inline-block;
    min-width: 205px;
    text-align: center;
    color: #fff;
    padding: 0 20px;
    height: var(--height);
    line-height: var(--height);
    background: #2e80ce;
    border-radius: 999px;
    border: 1px solid #2e80ce;
    font-size: 1.6rem;
    font-weight: 400;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375c;
}

.section-desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}

.controll {
    display: flex;
    column-gap: 18px;
}

.controll__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    color: #575f66;
    outline: none;
    background-color: #fff;
    transition: 0.25s;
}

.controll__btn:hover:hover {
    border-color: #2e80ce;
    background-color: #2e80ce;
    color: #ffffff;
    cursor: pointer;
}

.controll-next-icon {
    rotate: 180deg;
}

/* Header */
.header {
    padding-top: 30px;
    min-height: 100vh;
    background: var(--header-bg);
}

.logo {
    display: inline-flex;
    position: relative;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background-color: #fff;
}

.logo__text {
    margin-left: 0.6em;
    line-height: 1.4em;
}

.logo__branch {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    color: #fff;
    text-align: right;
}

.logo__branch--small {
    font-size: 1.2em;
    font-weight: 300;
    color: #fff;
}

/* Header top */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    padding: 4px 21px;
    font-weight: 300;
    font-size: 1.6rem;
    color: #c9d2da;
}

.navbar__link:hover,
.navbar__link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    position: relative;
    left: -8px;
    top: -2px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
}

.header-action {
    display: flex;
    /* loai bo khoang trang du vi the a va btn la the inline nen co dau cach */
    align-items: center;
}

.header-action__sign-up {
    --height: 44px;
    min-width: 104px;
    margin-left: 7px;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    margin-top: 76px;
}

.hero__content {
    flex-shrink: 0;
    /* Giu dung ti le */
    width: 44%;
}

.hero__media {
    flex-grow: 1;
    /* Chiem phan con lai */
}

.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.hero__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #ffffff;
}

.hero__image {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__img:first {
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* Service */
.service {
    padding: 170px 0;
}

.service__desc,
.service__heading {
    text-align: center;
}

.service__desc {
    width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.service__row {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service__list {
    margin-bottom: 55px;
}
/* Service item */

.service-item {
    display: flex;
    width: 470px;
    background: #ffffff;
    border-radius: 10px;
    padding: 22px;
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    /* dinh vi len tren cac o item khong dc  hover */
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}

.service-item:first-child .service-item__icon,
.setvice-item:hover .service-item__icon {
    background: #2e80ce;
    color: #fff;
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background: #eff6fd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    color: #10375c;
}

.service-item__body {
    margin-left: 20px;
}

.service-item__heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.27;
    color: #10375c;
}

.service-item__desc {
    margin-top: 8px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

/* Work*/
.work {
    padding: 100px 0;
    background: #f7fbff;
}

.work__desc {
    width: 468px;
}

.work__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    /* khoang cach giua cac cot */
}

.work-item {
    padding: 44px;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    transition: 0.25s;
}

.work-item:hover {
    border-color: #2e80ce;
    transform: translateY(-16px);
}

.work-item__heading {
    margin-top: 20px;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.38;
    color: #10375c;
}

.work-item__desc {
    margin-top: 28px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

.work-item__more {
    display: inline-block;
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #2e80ce;
}
/* Feature */
.feature {
    margin-top: 85px;
    padding: 85px 0;
}

.feature-row {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.feature__media {
    width: 48%;
}

.feature__image {
    position: relative;
    padding: 0 58px 121px 0;
}

.feature__img {
    width: 512px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}

.feature__img:last-child {
    width: 332px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.feature__cta {
    margin-top: 38px;
}
/* Member */
.member {
    padding: 85px 0;
    text-align: center;
}

.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member__cta {
    margin-top: 38px;
}

.member__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.member-item__img-bg {
    border-radius: 6px;
    background: #eaf6ff;
    padding-top: 28px;
    overflow: hidden;
}

.member-item__img {
    display: block;
    /* Bo khoang trang o duoi anh */
    max-width: 100%;
    /* Rong bang the cha cua no */
    object-fit: cover;
    height: 290px;
    transition: 0.25s;
}

.member-item:hover .member-item__img {
    transform: scale(1.2);
}

.member-item__name {
    margin-top: 12px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #10375c;
}

.member-item__title {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #575f66;
}

.member__controll {
    justify-content: center;
    margin-top: 38px;
}

/* Install */
.install {
    margin-top: 180px;
}

.install__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    border-radius: 4px;
    background-color: #2e80ce;
}

.install__img {
    width: 284px;
    height: 522px;
    margin-top: -95px;
    object-fit: cover;
    display: block;
}

.install__img:hover {
    transform: translateY(-10px);
}

.section__content {
    max-width: 586px;
}

.install-heading,
.install-desc {
    color: #ffffff;
}

.section__heading {
    max-width: 489px;
}

.install__row {
    display: flex;
    column-gap: 28px;
    margin-top: 38px;
}

/* News */
.new {
    margin-top: 85px;
    padding: 85px 0;
}

.new__inner {
    display: flex;
    align-items: center;
    justify-content: center;
}
.new__content {
    flex-shrink: 0;
}

.new__heading {
    max-width: 470px;
}

.new__more {
    display: inline-block;
    margin-top: 28px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.56;
    text-decoration: underline;
    text-underline-offset: 4px;
    /* dau gach no nam duoi chu g */
    color: #10375c;
}

.new__controll {
    margin-top: 28px;
}

.new__list {
    display: flex;
    max-width: 570px;
    column-gap: 30px;
}

.new-item {
    flex: 1;
    transition: 0.25s;
}

.new-item:hover {
    box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.05);
}

.new-item:hover .new-item__img {
    transform: scale(1.1);
}

.new-item:hover .new-item__body {
    border-color: #fff;
}

.new-item__thumb {
    height: 172px;
    overflow: hidden;
}

.new-item__img {
    border-radius: 12px 12px 0 0;
    width: 100%;
    height: 172px;
    object-fit: cover;
    display: block;
    transition: 0.25s;
}

.new-item__body {
    border-radius: 0 0 12px 12px;
    padding: 24px 24px 16px;
    background: #ffffff;
    border: 1px solid #e8ebee;
    border-top: none;
    transition: 0.25s;
}

.news-item__heading {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #10375c;
}

.new-item__desc {
    margin-top: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.71;
    color: #575f66;
}

.news-item__more {
    margin-top: 12px;
    display: inline-block;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #10375c;
}

.new-item__more:hover {
    color: #2e80ce;
}

/* Apointment */

.appointment {
    margin: 85px 0 170px;
}

.appointment__inner {
    background: #f7fbff;
    padding: 100px 70px;
    text-align: center;
}
.appointment__heading{
    position: relative;
    padding-bottom: 20px;
}

.appointment__heading::after {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: inline-block;
    content: "";
    width: 136px;
    height: 2px;
    background-color: #2e80ce;
}

.appointment__desc {
    max-width: 617px;
    margin: 18px auto 38px;
    font-size: 1.6rem;
    border-radius: 4px;
}











